* {
  box-sizing: border-box;
}

body {
  margin: 0;
  size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

/**********************Navbar******************/
.navbar {
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  padding:20px 36px;

}

.nav-logo{
  max-width: 100px;
}

/********Hero Component*************************/

.Hero{
  padding:20px;
}

.image-grid{
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-grid>img {
  max-width: 400px;
}

.hero--header{
  margin-bottom: 15px;
  font-size: 36px;
}

.hero--text{
  margin-top: 0;
  font-size: 16px;
}

/*********************Card Component*****************/

.card{
  position:relative;
  width: 180px;
  font-size: 12px; 
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
.card-image{  
  width:100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card-description{
  overflow: hidden;
  text-overflow: ellipsis;
}

.star-image{
  width:14px;
}

.grey{
color: #918E9B
}

.card-pricing{
  margin-top: auto;
}

.card-rating{
    font-weight: 300;
    font-size: 12px;
    line-height: 110%;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card-list{
display: flex;
gap: 20px;
}

.card--badge{
position: absolute;
top:6px;
left:6px;
background-color: #FFFFFF;
border-radius: 2px;
padding:5px 7px;
font-weight: 400;

}

